absl-py==1.4.0
accelerate==0.26.1
aiofiles==23.2.1
aiohttp==3.8.4
aiosignal==1.3.1
alembic==1.13.1
altair==5.2.0
anaconda-client==1.11.2
anaconda-navigator==2.4.0
anaconda-project @ file:///opt/conda/conda-bld/anaconda-project_1660339890420/work
aniso8601==9.0.1
annotated-types==0.6.0
ansi2html==1.9.1
antlr4-python3-runtime==4.8
archspec @ file:///croot/archspec_1697725767277/work
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.2
attrs @ file:///croot/attrs_1695717823297/work
audioread==3.0.1
Authlib==1.3.0
azure-ai-formrecognizer==3.3.2
azure-common==1.1.28
azure-core==1.30.0
backcall==0.2.0
backoff==2.2.1
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1618170165463/work
backports.tempfile @ file:///home/linux1/recipes/ci/backports.tempfile_1610991236607/work
backports.weakref==1.0.post1
beautifulsoup4 @ file:///croot/beautifulsoup4-split_1681493039619/work
bitarray==2.9.2
bitsandbytes==0.42.0
bleach==6.1.0
blessed==1.20.0
blinker==1.7.0
bm25 @ git+https://gitlab.com/wisenut-research/nlp/bm25-rs.git@61aa2c5aa00a4baf35d6adf98ce47528c87918d3
boilerpy3==1.0.7
boltons @ file:///croot/boltons_1677628692245/work
boto3==1.34.33
botocore==1.34.33
Brotli @ file:///tmp/abs_ecyw11_7ze/croots/recipe/brotli-split_1659616059936/work
cachetools==5.3.2
cattrs==23.2.3
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1707022139797/work/certifi
cffi @ file:///croot/cffi_1700254295673/work
chardet @ file:///home/builder/ci_310/chardet_1640804867535/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click @ file:///croot/click_1698129812380/work
cloudpickle==3.0.0
clyent==1.2.2
cmake==3.28.1
conda @ file:///home/conda/feedstock_root/build_artifacts/conda_1708705567884/work
conda-build @ file:///croot/conda-build_1706884309692/work
conda-content-trust @ file:///tmp/abs_5952f1c8-355c-4855-ad2e-538535021ba5h26t22e5/croots/recipe/conda-content-trust_1658126371814/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1706733287605/work/src
conda-pack @ file:///tmp/build/80754af9/conda-pack_1611163042455/work
conda-package-handling @ file:///croot/conda-package-handling_1690999929514/work
conda-repo-cli==1.0.75
conda-token @ file:///Users/paulyim/miniconda3/envs/c3i/conda-bld/conda-token_1662660369760/work
conda-verify==3.4.2
conda_index @ file:///croot/conda-index_1706633791028/work
conda_package_streaming @ file:///croot/conda-package-streaming_1690987966409/work
construct==2.5.3
contourpy==1.2.0
cryptography @ file:///croot/cryptography_1702070282333/work
cycler==0.12.1
Cython==3.0.8
databricks-cli==0.18.0
datasets==2.16.1
decorator==5.1.1
deepspeed==0.13.1
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
dill==0.3.8
distro @ file:///croot/distro_1701455004953/work
dnspython==2.5.0
docker==7.0.0
docopt==0.6.2
elastic-transport==7.16.0
elasticsearch==7.17.9
entrypoints==0.4
enum-compat==0.0.3
evaluate==0.4.0
Events==0.5
exceptiongroup==1.2.0
executing==2.0.1
fairseq==0.12.2
faiss-cpu==1.7.3
farm-haystack==1.24.0
fastapi==0.109.2
fastjsonschema @ file:///opt/conda/conda-bld/python-fastjsonschema_1661371079312/work
ffmpeg==1.4
ffmpeg-python==0.2.0
ffmpy==0.3.1
filelock @ file:///croot/filelock_1700591183607/work
Flask==2.1.1
Flask-RESTful==0.3.10
flatbuffers==23.5.26
fonttools==4.48.1
frozenlist==1.3.3
fsspec==2024.2.0
future @ file:///croot/future_1677599870788/work
gast==0.5.4
gitdb==4.0.11
GitPython==3.1.41
gmpy2 @ file:///tmp/build/80754af9/gmpy2_1645455533097/work
google-auth==2.27.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gpustat==1.1.1
GPUtil==1.4.0
gradio==3.14.0
gradio_client==0.8.1
grpcio==1.60.1
gunicorn==21.2.0
h11==0.14.0
haystack==0.42
haystack-bm25==1.0.2
hjson==3.1.0
horovod==0.28.1
hqq==0.1.3
httpcore==1.0.2
httpx==0.26.0
huggingface-hub==0.20.3
hydra-core==1.0.7
idna @ file:///croot/idna_1666125576474/work
importlib-metadata==7.0.1
importlib-resources==6.1.1
inflect==7.0.0
install==1.3.5
ipython==8.12.3
isodate==0.6.1
itsdangerous==2.1.2
jarowinkler==1.2.3
jedi==0.19.1
Jinja2 @ file:///croot/jinja2_1706733616596/work
jmespath==1.0.1
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1691577114857/work
JPype1==1.4.1
jsonpatch @ file:///tmp/build/80754af9/jsonpatch_1615747632069/work
jsonpointer==2.1
jsonschema @ file:///croot/jsonschema_1699041609003/work
jsonschema-specifications @ file:///croot/jsonschema-specifications_1699032386549/work
jupyter_client==8.6.0
jupyter_core @ file:///croot/jupyter_core_1698937308754/work
jupyterlab_pygments==0.3.0
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
konlpy==0.6.0
langdetect==1.0.9
lazy-imports==0.3.1
libarchive-c @ file:///tmp/build/80754af9/python-libarchive-c_1617780486945/work
libclang==16.0.6
libmambapy @ file:///croot/mamba-split_1704219408234/work/libmambapy
librosa==0.9.1
linkify-it-py==2.0.3
lit==17.0.6
loguru==0.7.2
Mako==1.3.2
markdown-it-py==3.0.0
MarkupSafe @ file:///croot/markupsafe_1704205993651/work
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.0
mdurl==0.1.2
mecab-python==1.0.0
mecab-python3==1.0.6
menuinst @ file:///croot/menuinst_1706732933928/work
mistune==3.0.2
mkl-fft==1.3.1
mkl-random @ file:///home/builder/ci_310/mkl_random_1641843545607/work
mkl-service==2.4.0
mlflow==2.10.0
monotonic==1.6
more-itertools @ file:///croot/more-itertools_1700662129964/work
mpi4py @ file:///croot/mpi4py_1671223370575/work
mpmath @ file:///croot/mpmath_1690848262763/work
msrest==0.7.1
multidict==6.0.4
multiprocess==0.70.14
navigator-updater @ file:///croot/navigator-updater_1695210188412/work
nbclient==0.9.0
nbconvert==7.16.1
nbformat @ file:///croot/nbformat_1694616755618/work
networkx @ file:///croot/networkx_1690561992265/work
ninja==1.11.1
nltk==3.8.1
num2words==0.5.13
numpy==1.26.3
nvgpu==0.10.0
nvidia-ml-py==12.535.108
oauthlib==3.2.2
omegaconf==2.0.6
openai==1.10.0
openai-whisper==20231117
openmpi==0.0.1
opensearch-py==2.4.1
opt-einsum==3.3.0
orjson==3.9.13
outcome==1.3.0.post0
packaging @ file:///croot/packaging_1693575174725/work
pandas==2.2.0
pandocfilters==1.5.1
parso==0.8.3
pathlib @ file:///Users/ktietz/demo/mc3/conda-bld/pathlib_1629713961906/work
pdf2image==1.17.0
pefile==2023.2.7
pexpect==4.9.0
pickleshare==0.7.5
Pillow @ file:///croot/pillow_1696580024257/work
pinecone-client==2.2.4
pipreqs==0.5.0
pkginfo @ file:///croot/pkginfo_1679431160147/work
platformdirs @ file:///croot/platformdirs_1692205439124/work
pluggy @ file:///tmp/build/80754af9/pluggy_1648024709248/work
ply==3.11
portalocker==2.8.2
posthog==3.3.4
praat-parselmouth==0.4.3
prompt-toolkit==3.0.43
prompthub-py==4.0.0
protobuf==3.20.0
psutil @ file:///opt/conda/conda-bld/psutil_1656431268089/work
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==12.0.0
pyarrow-hotfix==0.6
pycosat @ file:///croot/pycosat_1696536503704/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodome==3.20.0
pydantic==2.6.0
pydantic_core==2.16.1
pydeck==0.8.1b0
pydub==0.25.1
Pygments==2.17.2
PyJWT @ file:///opt/conda/conda-bld/pyjwt_1657544592787/work
pymongo==4.6.1
PyMuPDF==1.23.21
PyMuPDFb==1.23.9
pynvml==11.5.0
pyOpenSSL @ file:///croot/pyopenssl_1690223430423/work
pyparsing==3.1.1
pyproject==1.3.1
pyproject-toml==0.0.10
PyQt5==5.15.10
PyQt5-sip @ file:///croot/pyqt-split_1698769088074/work/pyqt_sip
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
pytesseract==0.3.10
python-dateutil==2.8.2
python-docx==1.1.0
python-frontmatter==1.1.0
python-magic==0.4.27
python-multipart==0.0.7
python-pptx==0.6.23
python-ptrace==0.9.8
pytz==2024.1
pyworld==0.3.2
PyYAML @ file:///croot/pyyaml_1698096049011/work
pyzmq==25.1.2
QtPy @ file:///croot/qtpy_1700144840038/work
quantulum3==0.9.0
querystring-parser==1.2.4
rank-bm25==0.2.2
rapidfuzz==2.7.0
referencing @ file:///croot/referencing_1699012038513/work
regex==2023.12.25
requests @ file:///croot/requests_1690400202158/work
requests-cache==0.9.8
requests-oauthlib==1.3.1
requests-toolbelt @ file:///croot/requests-toolbelt_1690874004362/work
resampy==0.4.2
responses==0.18.0
rich==13.7.0
rouge-score==0.1.2
rpds-py @ file:///croot/rpds-py_1698945930462/work
rsa==4.9
ruamel-yaml-conda @ file:///croot/ruamel_yaml_1667489728852/work
ruamel.yaml @ file:///croot/ruamel.yaml_1666304550667/work
ruamel.yaml.clib @ file:///croot/ruamel.yaml.clib_1666302247304/work
ruff==0.2.0
s3transfer==0.10.0
sacrebleu==2.4.0
safetensors==0.4.2
scikit-build==0.17.6
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1688116438223/work
scipy==1.12.0
selenium==4.17.2
semantic-version==2.10.0
sentence-transformers==2.3.1
sentencepiece==0.1.99
seqeval==1.2.2
setuptools-rust==1.6.0
shellingham==1.5.4
sip @ file:///croot/sip_1698675935381/work
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
soundfile==0.12.1
soupsieve @ file:///croot/soupsieve_1696347547217/work
SQLAlchemy-Utils==0.41.1
sqlparse==0.4.4
sseclient-py==1.8.0
stack-data==0.6.3
starlette==0.36.3
streamlit==1.32.0
sympy @ file:///croot/sympy_1701397643339/work
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-gpu==2.8.0
tensorflow-io-gcs-filesystem==0.35.0
termcolor==2.4.0
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1689261241048/work
tika==2.6.0
tiktoken==0.5.2
timm==0.9.16
tinycss2==1.2.1
tokenizers==0.15.1
toml==0.10.2
tomli @ file:///opt/conda/conda-bld/tomli_1657175507142/work
tomlkit==0.12.0
toolz==0.12.1
torch==2.0.0+cu117
torch-lr-finder==0.2.1
torch-model-archiver==0.9.0
torchaudio==2.0.1+cu117
torchserve==0.9.0
torchvision==0.15.1+cu117
tornado @ file:///croot/tornado_1696936946304/work
tqdm @ file:///croot/tqdm_1679561862951/work
traitlets @ file:///croot/traitlets_1671143879854/work
transformers==4.38.2
trio==0.24.0
trio-websocket==0.11.1
triton==2.0.0
truststore @ file:///croot/truststore_1695244293384/work
ts==0.5.1
typer==0.9.0
types-python-dateutil==2.8.19.20240106
typing_extensions @ file:///croot/typing_extensions_1705599297034/work
tzdata==2023.4
tzlocal==5.2
uc-micro-py==1.0.2
ujson @ file:///opt/conda/conda-bld/ujson_1657544923770/work
url-normalize==1.4.3
urllib3 @ file:///croot/urllib3_1698257533958/work
uvicorn==0.27.0.post1
validators==0.22.0
watchdog==4.0.0
wcwidth==0.2.13
weaviate-client==3.26.2
webencodings==0.5.1
websockets==11.0.3
Werkzeug==3.0.1
wrapt==1.16.0
wsproto==1.2.0
XlsxWriter==3.1.9
xxhash==3.2.0
yarg==0.1.9
yarl==1.9.2
zipp==3.17.0
zstandard @ file:///croot/zstandard_1677013143055/work
